@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --aspect-cover: 100 / 178;

  /*
   * 5초 후 최초 실행
   * tada 동작 1초 + 정지 3초 = 총 4초 주기
   */
  --animate-tada: tada 4s ease 5s infinite both;

  @keyframes tada {
    0%,
    25%,
    100% {
      transform: scale3d(1, 1, 1);
    }

    2.5%,
    5% {
      transform:
        scale3d(0.9, 0.9, 0.9)
        rotate3d(0, 0, 1, -3deg);
    }

    7.5%,
    12.5%,
    17.5%,
    22.5% {
      transform:
        scale3d(1.1, 1.1, 1.1)
        rotate3d(0, 0, 1, 3deg);
    }

    10%,
    15%,
    20% {
      transform:
        scale3d(1.1, 1.1, 1.1)
        rotate3d(0, 0, 1, -3deg);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
